body {
    margin: 0;
    padding: 0;
    overflow: hidden-y;
}

.module {
  
    @media (min-width: $screen-xs-min) {
         padding-top: 10px;
    padding-bottom: 10px;
        }
        @media (min-width: $screen-sm-min) {
            padding-top: 20px;
    padding-bottom: 20px;
        }
        @media (min-width: $screen-md-min) {
           
             padding-top: 30px;
    padding-bottom: 30px;
        }
        @media (min-width: $screen-lg-min) {
             padding-top: 30px;
    padding-bottom: 30px;
        }
}


.title_size {
    @media (min-width: $screen-xs-min) {
        font-size: 25px;
    }
    @media (min-width: $screen-sm-min) {
        font-size: 50px;
    }
    @media (min-width: $screen-md-min) {
        font-size: 50px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 50px;
    }
}
