body{
margin: 0;
padding: 0;

}



.slider{
   
    .slider__control{
      padding-top: 20%;
       background-image: none !important;
    }
    .slider__caption{
      top: 40px;
       
      .slider__caption__title{
         color: #2771b2;
         text-transform: uppercase;
         font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 100px;
      }

      .slider__caption__number{
        color: #e03636;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 100px;
      }
      .slider__caption__subtext{
         font-family: 'Lato';
          font-weight: 400;
          font-style: normal;
          font-size: 50px;
          color: #2771b2;
      }

    }
}

.red_section{
    // height: 379px;
    background: url(../images/red_phone.jpg) no-repeat; 
    .red_section__title{
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #fff;
    }
    .red_section__sub_text{
           margin-top: 50px;
           margin-bottom: 15px;
           padding-left: 60px;
           padding-right:60px;
           font-family: 'Lato';
           font-weight: 400;
           font-style: normal;
           font-size: 15px;
           color: #fff;
    } 
    .red_section__btn_blue{
        margin-top: 40px;
        background: #2771b2;
        border-radius: 3px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 20px 20px;
        text-align: center;
        color: #fff;
        &:hover{
            text-decoration: none;
        }
    }
    .call_back{

    }
}
.service{
// height: 435px;
padding-bottom: 67px;
.service__title{
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
}
.service__carousel{
    margin-top: 67px;
    margin-bottom: 50px;

    .service__carousel__carousel-control{
          background-image: none !important;
          padding-top: 20px;
    }
}
.block_item{ 
           display: inline-block;
           margin-left: 60px;
           text-align: center;

       span{
          margin-top: 65px;
          display: block;
          font-family: 'Lato';
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
       }
}
}
.our_advantages{
    .our_advantages__title{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
    }
    .our_advantages__block_img{
        position: relative;
        overflow: hidden;
        height: 300px; 
        img{
          float: right;
        }
        span{
            position: absolute;
            z-index: 5;
            top: 100px;
            left: 100px;
          font-family: 'Lato';
          font-weight: 400;
          font-style: normal;
          font-size: 20px;

        }
      

        
        }
      
    

}
.client{

.client__title{
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
}
.client__carousel{
    margin-top: 67px;
    margin-bottom: 50px;

    .client__carousel__carousel-control{
          background-image: none !important;
          padding-top: 20px;
    }
}
.block_item{
           display: inline-block;
           margin-left: 20px;
           text-align: center;

} 
}
.form{
    background: url(../images/back_form.jpg) no-repeat; 
    .form__title{
         margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #ffffff;
    }
    form{
        label {
          margin-top:20px;
          font-family: 'Lato';
          font-weight: 400;
          font-style: normal;
          color: #fff;
      
        font-size: 14px;
        }
        input{
           margin-top: 10px;
           padding: 25px 17px;

        }
    }
.form__btn{
    margin-top:50px;
    margin-bottom: 50px;
}
}
.btn_blue{

        background: #2771b2;
        border-radius: 3px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 400;
        font-style: normal;
      
        font-size: 14px;
        padding: 20px 20px;
        text-align: center;
        color: #fff;
        &:hover{
            text-decoration: none;
        }
}