body {
    margin: 0;
    padding: 0;
}

.slider {
    .item {
        img {
            width: 100%;
        }
    }
    .slider__control {
        padding-top: 20%;
        background-image: none !important;
    }
    .slider__caption {
        top: 40px;
        .slider__caption__title {
            color: #2771b2;
            text-transform: uppercase;
            font-family: 'Lato';
            font-weight: 200;
            font-style: normal;
            // font-size: 100px;
        }
        .slider__caption__number {
            color: #e03636;
            font-family: 'Lato';
            font-weight: 200;
            font-style: normal;
            // font-size: 100px;
        }
        .slider__caption__subtext {
            font-family: 'Lato';
            font-weight: 400;
            font-style: normal;
            // font-size: 50px;
            color: #2771b2;
        }
    }
    .btn_slider {}
    @media (min-width: $screen-xs-min) {
        .slider__caption__title {
            font-size: 30px;
        }
        .slider__caption__number {
            font-size: 30px;
        }
        .slider__caption__subtext {
            font-size: 20px;
        }
        .btn_slider {
            margin-top: 10px !important;
        }
    }
    @media (min-width: $screen-sm-min) {
        .slider__caption__title {
            font-size: 40px;
        }
        .slider__caption__number {
            font-size: 40px;
        }
        .slider__caption__subtext {
            font-size: 20px;
        }
        .btn_slider {
            margin-top: 20px !important;
        }
    }
    @media (min-width: $screen-md-min) {
        .slider__caption__title {
            font-size: 100px;
        }
        .slider__caption__number {
            font-size: 100px;
        }
        .slider__caption__subtext {
            font-size: 50px;
        }
        .btn_slider {
            margin-top: 70px !important;
        }
    }
    @media (min-width: $screen-lg-min) {
        .slider__caption__title {
            font-size: 100px;
        }
        .slider__caption__number {
            font-size: 100px;
        }
        .slider__caption__subtext {
            font-size: 50px;
        }
        .btn_slider {
            margin-top: 70px !important;
        }
    }
}

.red_section {
    // height: 379px;
    background: url(../images/red_phone.jpg) no-repeat;
    .red_section__title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        color: #fff;
        @media (min-width: $screen-xs-min) {
            margin-top: 15px;
            font-size: 35px;
        }
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
            font-size: 50px;
        }
        @media (min-width: $screen-md-min) {
            margin-top: 50px;
            font-size: 50px;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 50px;
            font-size: 50px;
        }
    }
    .red_section__sub_text {
        font-family: 'Lato';
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #fff;
        @media (min-width: $screen-xs-min) {
            margin-top: 15px;
            margin-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (min-width: $screen-sm-min) {
            margin-top: 25px;
            margin-bottom: 15px;
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: $screen-md-min) {
            margin-top: 50px;
            margin-bottom: 15px;
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 50px;
            margin-bottom: 15px;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    .red_section__btn_blue {
        margin-bottom: 50px;
        margin-top: 40px;
        background: #2771b2;
        border-radius: 3px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 20px 20px;
        text-align: center;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    .call_back {
        width: 100%;
    }
}

.service {
    // height: 435px;
    padding-bottom: 67px;
    .service__title {
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
    }
    .service__carusel {
        margin-top: 50px;
        margin-bottom: 30px;
        .service__carusel__control-left {
            display: inline;
            cursor: pointer;
            
        }
        .service__carusel__control-right {
            display: inline;
            cursor: pointer;
            float: right; 
        }
        .block_item {
            display: inline-block;
            margin-left: 30px;
            text-align: center;
            span {
                margin-top: 65px;
                display: block;
                font-family: 'Lato';
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
            }
        }
        .slick-slide img {
            display: inline;
        }
    }
}

.our_advantages {
    .our_advantages__title {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
    }
    .our_advantages__block_img {
        position: relative;
        overflow: hidden;
        height: 300px;
        img {
            float: right;
        }
        span {
            position: absolute;
            z-index: 5;
            top: 100px;
            left: 100px;
            font-family: 'Lato';
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }
    }
}

.client {
    .client__title {
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 50px;
        color: #e03636;
    }
    .client__carusel {
        margin-top: 50px;
        margin-bottom: 30px;
        overflow: hidden;
        .client__carusel__control-left {
            display: inline;
            cursor: pointer;
        }
        .client__carusel__control-right {
            display: inline;
            cursor: pointer;
            float: right;
        }
        .block_item {
            display: inline-block;
            margin-left: 20px;
            text-align: center;
            height: 150px;
        }
    }
}

.form {
    background: url(../images/back_form.jpg) no-repeat;
    overflow: hidden;
    .form__title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        color: #ffffff;
        @media (min-width: $screen-xs-min) {
            margin-top: 15px;
            font-size: 35px;
        }
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
            font-size: 50px;
        }
        @media (min-width: $screen-md-min) {
            margin-top: 50px;
            font-size: 50px;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 50px;
            font-size: 50px;
        }
    }
    form {
        label {
            margin-top: 20px;
            font-family: 'Lato';
            font-weight: 400;
            font-style: normal;
            color: #fff;
            font-size: 12px;
        }
        input {
            margin-top: 10px;
            padding: 25px 17px;
        }
    }
    .form__btn {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.btn_blue {
    background: #2771b2;
    border-radius: 3px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 20px 20px;
    text-align: center;
    color: #fff;
    &:hover {
        text-decoration: none;
    }
}

.footer {
    padding-top: 65px;
    background: #2d4059;
    .footer__left {
        display: -webkit-inline-box;
        .footer__menu {
            display: inline;
            h5 {
                color: #e03635;
                border-bottom: 1px solid #2771b2;
                font-family: 'Lato';
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            ul {
                padding-left: 0px;
                li {
                    margin-top: 20px;
                    list-style: none;
                    color: #fff;
                    font-family: 'Lato';
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    a {
                        cursor: pointer;
                        color: #fff;
                        font-family: 'Lato';
                        font-weight: 400;
                        font-style: normal;
                        font-size: 14px;
                    }
                }
            }
        }
        .footer__amenities {
            margin-left: 15px;
            ul {
                width: 150px;
            }
        }
        .footer__amenities-add {
            h5 {
                margin-top: 27px;
                margin-left: -16px;
                margin-right: -15px;
            }
            ul {
                width: 120px;
            }
        }
    }
}

.footer-copirate {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #222f41;
    color: #fff;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.opis .opis-box .fade-block,
.opis .opis-box .medal {
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    bottom: 0
}

.opis .opis-box {
    box-shadow: inset 0 0 50px 5px rgba(0, 0, 0, .3);
    height: 380px;
    position: relative;
    background-size: cover
}

.opis .opis-box .fade-in {
    opacity: 1!important
}

.opis .opis-box .fade-block {
    width: 100%;
    height: 100%;
    background-color: rgba(54, 106, 155, .5);
    box-shadow: inset 0 0 50px 5px rgba(0, 0, 0, .3);
    margin-left: -15px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out .3s
}

.opis .opis-box .fade-block .bottom-align {
    position: absolute;
    width: 100%;
    bottom: 0
}

.opis .opis-box .fade-block .bottom-align h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px
}

.opis .opis-box .fade-block .bottom-align p {
    padding-left: 10%;
    padding-right: 5%;
    text-align: left;
    margin-bottom: 170px;
    font-size: 18px;
    color: #fff;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
}

.opis-box__text {
    position: absolute;
    bottom: 121px;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
}

.opis-box:hover {
    .opis-box__text {
        opacity: 0;
    }
}

.opis .opis-box .fade-block .bottom-align .social-box .social-circle:hover,
.opis .opis-box .fade-block .bottom-align .social-box .social-circle:hover span,
.opis .opis-box:hover .fade-block {
    opacity: 1
}

.box_1 {
    background: url('../images/our_advantages/foto1.jpg') right center no-repeat;
    background-size: cover
}

.box_2 {
    background: url('../images/our_advantages/foto2.jpg') right center no-repeat;
    background-size: cover
}

.box_3 {
    background: url('../images/our_advantages/foto3.jpg') right center no-repeat;
    background-size: cover
}

.box_4 {
    background: url('../images/our_advantages/foto4.jpg') right center no-repeat;
    background-size: cover
}

.box_5 {
    background: url('../images/our_advantages/foto5.jpg') right center no-repeat;
    background-size: cover
}

.box_6 {
    background: url('../images/our_advantages/foto6.jpg') right center no-repeat;
    background-size: cover
}




.modal-form{

.modal-form__content{
  padding-left: 50px;
  padding-right: 50px;
}
  .modal-header{
    border-bottom: 0px ;
  }
.modal-form__title{
  
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 30px;
        color: #e03636;
  text-align: center;
}
input{
  margin-top: 20px;

}
select{
  margin-top: 20px;
  font-family: 'Lato';
   font-weight: 400;
     font-style: normal;
    font-size: 14px;
}
label{
  margin-top: 20px;
    font-family: 'Lato';
   font-weight: 400;
     font-style: normal;
    font-size: 14px;
    color: #000;
}
textarea{
  margin-top: 20px;
  font-family: 'Lato';
   font-weight: 400;
     font-style: normal;
    font-size: 14px;
}
.modal-form__btn{
  background:  #2771b2;
  color: #fff;
}
button{
  margin-top: 50px;
  font-family: 'Lato';
   font-weight: 400;
     font-style: normal;
    font-size: 14px;
}
p{
  text-align: center;
  margin-top: 50px;
  font-family: 'Lato';
   font-weight: 400;
     font-style: normal;
    font-size: 14px;
    a{
      text-decoration: underline;
      color: #e03636; 

    }
}

.bnt-close{
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 8px;
    color: #000;
}


}
.search{
  input {
    outline: none;
    border: 0px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* remove the search and cancel icon */
}
input[type=search] {
    background: #fff url(../images/icons/search-icon.png) no-repeat 9px center;
    // border: solid 1px #ccc;
    padding: 2px 10px 5px 32px;
    width: 55px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 80px;
    background-color: #fff;
    // border-color: #6dcff6;
    
    // -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    // -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    // box-shadow: 0 0 5px rgba(109,207,246,.5);
}



}
#demo-b input[type=search] {
    width: 18px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-b input[type=search]:hover {
    background-color: #fff;
}
#demo-b input[type=search]:focus {
    width: 80px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-b input:-moz-placeholder {
    color: transparent;
}
#demo-b input::-webkit-input-placeholder {
    color: transparent;
}